<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}
<div class="rnr-c rnr-cv rnr-c-search">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel Efficiency search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_Manager_Name}">
	{BEGIN Manager_Name_fieldblock}		
	<td>
		{$label Efficiency Manager_Name}
	</td>
	<td>
		<input type="checkbox" {$Manager_Name_notbox}>
	</td>
	<td>
		{$searchtype_Manager_Name}
	</td>
	<td>
		{$Manager_Name_editcontrol}&nbsp;
	</td>
	<td>
		{$Manager_Name_editcontrol1}&nbsp;
	</td>
{END Manager_Name_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Date}">
	{BEGIN Date_fieldblock}		
	<td>
		{$label Efficiency Date}
	</td>
	<td>
		<input type="checkbox" {$Date_notbox}>
	</td>
	<td>
		{$searchtype_Date}
	</td>
	<td>
		{$Date_editcontrol}&nbsp;
	</td>
	<td>
		{$Date_editcontrol1}&nbsp;
	</td>
{END Date_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Planned_Visits}">
	{BEGIN Planned_Visits_fieldblock}		
	<td>
		{$label Efficiency Planned_Visits}
	</td>
	<td>
		<input type="checkbox" {$Planned_Visits_notbox}>
	</td>
	<td>
		{$searchtype_Planned_Visits}
	</td>
	<td>
		{$Planned_Visits_editcontrol}&nbsp;
	</td>
	<td>
		{$Planned_Visits_editcontrol1}&nbsp;
	</td>
{END Planned_Visits_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Actual_Visits}">
	{BEGIN Actual_Visits_fieldblock}		
	<td>
		{$label Efficiency Actual_Visits}
	</td>
	<td>
		<input type="checkbox" {$Actual_Visits_notbox}>
	</td>
	<td>
		{$searchtype_Actual_Visits}
	</td>
	<td>
		{$Actual_Visits_editcontrol}&nbsp;
	</td>
	<td>
		{$Actual_Visits_editcontrol1}&nbsp;
	</td>
{END Actual_Visits_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Percent}">
	{BEGIN Percent_fieldblock}		
	<td>
		{$label Efficiency Percent}
	</td>
	<td>
		<input type="checkbox" {$Percent_notbox}>
	</td>
	<td>
		{$searchtype_Percent}
	</td>
	<td>
		{$Percent_editcontrol}&nbsp;
	</td>
	<td>
		{$Percent_editcontrol1}&nbsp;
	</td>
{END Percent_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
