<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}<P align=center>{$header}
	</P>
<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}<div class="rnr-c rnr-cv rnr-c-search">


<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	{$pagetitlelabel Custom_Report search}
</span></div>


{BEGIN conditions_block}<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_supplier_name}">
	{BEGIN supplier_name_fieldblock}<td>
		{$label Custom_Report supplier_name}
	</td>
	<td>
		<input type="checkbox" {$supplier_name_notbox}>
	</td>
	<td>
		{$searchtype_supplier_name}
	</td>
	<td>
		{$supplier_name_editcontrol}&nbsp;
	</td>
	<td>
		{$supplier_name_editcontrol1}&nbsp;
	</td>
{END supplier_name_fieldblock}
	</tr>
	<tr class="{$fielddispclass_supplier_number}">
	{BEGIN supplier_number_fieldblock}<td>
		{$label Custom_Report supplier_number}
	</td>
	<td>
		<input type="checkbox" {$supplier_number_notbox}>
	</td>
	<td>
		{$searchtype_supplier_number}
	</td>
	<td>
		{$supplier_number_editcontrol}&nbsp;
	</td>
	<td>
		{$supplier_number_editcontrol1}&nbsp;
	</td>
{END supplier_number_fieldblock}
	</tr>
	<tr class="{$fielddispclass_batch_name}">
	{BEGIN batch_name_fieldblock}<td>
		{$label simcards_batches batch_name}
	</td>
	<td>
		<input type="checkbox" {$batch_name_notbox}>
	</td>
	<td>
		{$searchtype_batch_name}
	</td>
	<td>
		{$batch_name_editcontrol}&nbsp;
	</td>
	<td>
		{$batch_name_editcontrol1}&nbsp;
	</td>
{END batch_name_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ICCID}">
	{BEGIN ICCID_fieldblock}<td>
		{$label simcards_batches ICCID}
	</td>
	<td>
		<input type="checkbox" {$ICCID_notbox}>
	</td>
	<td>
		{$searchtype_ICCID}
	</td>
	<td>
		{$ICCID_editcontrol}&nbsp;
	</td>
	<td>
		{$ICCID_editcontrol1}&nbsp;
	</td>
{END ICCID_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Event_date}">
	{BEGIN Event_date_fieldblock}<td>
		{$label Custom_Report Event_date}
	</td>
	<td>
		<input type="checkbox" {$Event_date_notbox}>
	</td>
	<td>
		{$searchtype_Event_date}
	</td>
	<td>
		{$Event_date_editcontrol}&nbsp;
	</td>
	<td>
		{$Event_date_editcontrol1}&nbsp;
	</td>
{END Event_date_fieldblock}
	</tr>
	<tr class="{$fielddispclass_time}">
	{BEGIN time_fieldblock}<td>
		{$label Custom_Report time}
	</td>
	<td>
		<input type="checkbox" {$time_notbox}>
	</td>
	<td>
		{$searchtype_time}
	</td>
	<td>
		{$time_editcontrol}&nbsp;
	</td>
	<td>
		{$time_editcontrol1}&nbsp;
	</td>
{END time_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Activation_Status}">
	{BEGIN Activation_Status_fieldblock}<td>
		{$label Custom_Report Activation_Status}
	</td>
	<td>
		<input type="checkbox" {$Activation_Status_notbox}>
	</td>
	<td>
		{$searchtype_Activation_Status}
	</td>
	<td>
		{$Activation_Status_editcontrol}&nbsp;
	</td>
	<td>
		{$Activation_Status_editcontrol1}&nbsp;
	</td>
{END Activation_Status_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Activator_Number}">
	{BEGIN Activator_Number_fieldblock}<td>
		{$label Custom_Report Activator_Number}
	</td>
	<td>
		<input type="checkbox" {$Activator_Number_notbox}>
	</td>
	<td>
		{$searchtype_Activator_Number}
	</td>
	<td>
		{$Activator_Number_editcontrol}&nbsp;
	</td>
	<td>
		{$Activator_Number_editcontrol1}&nbsp;
	</td>
{END Activator_Number_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Active_MSISDN}">
	{BEGIN Active_MSISDN_fieldblock}<td>
		{$label Custom_Report Active_MSISDN}
	</td>
	<td>
		<input type="checkbox" {$Active_MSISDN_notbox}>
	</td>
	<td>
		{$searchtype_Active_MSISDN}
	</td>
	<td>
		{$Active_MSISDN_editcontrol}&nbsp;
	</td>
	<td>
		{$Active_MSISDN_editcontrol1}&nbsp;
	</td>
{END Active_MSISDN_fieldblock}
	</tr>

</table></div>



<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>


</div>
{$pagetitlelabel simcards_batches search}
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<DIV class=rnr-page>
<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		</div>
	<DIV class="rnr-bottom {$blockclass_bottom}"></div>
		
		<P align=center>{$footer}
	</P>{END body}
	</body>
</html>
