<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}<P align=center>{$header}
	</P>
<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}<div class="rnr-c rnr-cv rnr-c-all">


{BEGIN container_main}<div class="rnr-c rnr-cv rnr-c-main">



{BEGIN container_view}<div class="rnr-c rnr-cv rnr-c-view">

{BEGIN viewheader}<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	{$pagetitlelabel scratch_cards_distribution_activities view}
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-viewfields {$brickclass_viewfields}"><table class="fieldGrid">
	{BEGIN Dist_ID_fieldblock}<tr class="{$fielddispclass_Dist_ID}" data-fieldname="Dist_ID">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities Dist_ID}
	</td>
	<td class="rnr-control style3">
		{$Dist_ID_value}&nbsp;
	</td>
</tr>
{END Dist_ID_fieldblock}
	{BEGIN Dist_Date_fieldblock}<tr class="{$fielddispclass_Dist_Date}" data-fieldname="Dist_Date">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities Dist_Date}
	</td>
	<td class="rnr-control style3">
		{$Dist_Date_value}&nbsp;
	</td>
</tr>
{END Dist_Date_fieldblock}
	{BEGIN Serial_No_fieldblock}<tr class="{$fielddispclass_Serial_No}" data-fieldname="Serial_No">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities Serial_No}
	</td>
	<td class="rnr-control style3">
		{$Serial_No_value}&nbsp;
	</td>
</tr>
{END Serial_No_fieldblock}
	{BEGIN Full_Name_fieldblock}<tr class="{$fielddispclass_Full_Name}" data-fieldname="Full_Name">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities Full_Name}
	</td>
	<td class="rnr-control style3">
		{$Full_Name_value}&nbsp;
	</td>
</tr>
{END Full_Name_fieldblock}
	{BEGIN POS_ALT_Number_fieldblock}<tr class="{$fielddispclass_POS_ALT_Number}" data-fieldname="POS_ALT_Number">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities POS_ALT_Number}
	</td>
	<td class="rnr-control style3">
		{$POS_ALT_Number_value}&nbsp;
	</td>
</tr>
{END POS_ALT_Number_fieldblock}
	{BEGIN Area_fieldblock}<tr class="{$fielddispclass_Area}" data-fieldname="Area">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities Area}
	</td>
	<td class="rnr-control style3">
		{$Area_value}&nbsp;
	</td>
</tr>
{END Area_fieldblock}
	{BEGIN Alt_Number_fieldblock}<tr class="{$fielddispclass_Alt_Number}" data-fieldname="Alt_Number">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities Alt_Number}
	</td>
	<td class="rnr-control style3">
		{$Alt_Number_value}&nbsp;
	</td>
</tr>
{END Alt_Number_fieldblock}
	{BEGIN Denomination_fieldblock}<tr class="{$fielddispclass_Denomination}" data-fieldname="Denomination">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities Denomination}
	</td>
	<td class="rnr-control style3">
		{$Denomination_value}&nbsp;
	</td>
</tr>
{END Denomination_fieldblock}
	{BEGIN Used_fieldblock}<tr class="{$fielddispclass_Used}" data-fieldname="Used">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities Used}
	</td>
	<td class="rnr-control style3">
		{$Used_value}&nbsp;
	</td>
</tr>
{END Used_fieldblock}
	{BEGIN Date_Used_fieldblock}<tr class="{$fielddispclass_Date_Used}" data-fieldname="Date_Used">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities Date_Used}
	</td>
	<td class="rnr-control style3">
		{$Date_Used_value}&nbsp;
	</td>
</tr>
{END Date_Used_fieldblock}
	{BEGIN Customer_Used_fieldblock}<tr class="{$fielddispclass_Customer_Used}" data-fieldname="Customer_Used">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities Customer_Used}
	</td>
	<td class="rnr-control style3">
		{$Customer_Used_value}&nbsp;
	</td>
</tr>
{END Customer_Used_fieldblock}
	{BEGIN DSO_Name_fieldblock}<tr class="{$fielddispclass_DSO_Name}" data-fieldname="DSO_Name">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities DSO_Name}
	</td>
	<td class="rnr-control style3">
		{$DSO_Name_value}&nbsp;
	</td>
</tr>
{END DSO_Name_fieldblock}
	{BEGIN DSO_Number_fieldblock}<tr class="{$fielddispclass_DSO_Number}" data-fieldname="DSO_Number">
	<td class="rnr-label">
		{$label scratch_cards_distribution_activities DSO_Number}
	</td>
	<td class="rnr-control style3">
		{$DSO_Number_value}&nbsp;
	</td>
</tr>
{END DSO_Number_fieldblock}
</table></div>


{BEGIN viewbuttons}<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>
{END container_main}

</div>
{END container_all}


		</div>
		<DIV class=rnr-page>
<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		</div>
	<DIV class="rnr-bottom {$blockclass_bottom}"></div>
		
		<P align=center>{$footer}
	</P>{END body}
	</body>
</html>
