<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Activator_Number">
	{$Activator_Number_editcontrol}
	</control>
	<control 
	field="pos_type">
	{$pos_type_editcontrol}
	</control>
	<control 
	field="Manager_Name">
	{$Manager_Name_editcontrol}
	</control>
	<control 
	field="Manager_Number">
	{$Manager_Number_editcontrol}
	</control>
	<control 
	field="Manager_Title">
	{$Manager_Title_editcontrol}
	</control>
	<control 
	field="Activator_Name">
	{$Activator_Name_editcontrol}
	</control>
	<control 
	field="business_name">
	{$business_name_editcontrol}
	</control>
	<control 
	field="Area">
	{$Area_editcontrol}
	</control>
	<control 
	field="Route">
	{$Route_editcontrol}
	</control>
	<control 
	field="altenative_number">
	{$altenative_number_editcontrol}
	</control>
	<control 
	field="pos_iccid">
	{$pos_iccid_editcontrol}
	</control>
	<control 
	field="registration_date">
	{$registration_date_editcontrol}
	</control>
	<control 
	field="gender">
	{$gender_editcontrol}
	</control>
	<control 
	field="DOB">
	{$DOB_editcontrol}
	</control>
	<control 
	field="id_type">
	{$id_type_editcontrol}
	</control>
	<control 
	field="id_number">
	{$id_number_editcontrol}
	</control>
	<control 
	field="lat">
	{$lat_editcontrol}
	</control>
	<control 
	field="lon">
	{$lon_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
